* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: #e2e8f0;
}


 /* Nav CSS */
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); 
}

.logo {

    font-size: 24px;
    font-weight: bold;
    color: #e2e8f0;
}

.nav-links
{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
.nav-links a {

    text-decoration: none;
    color: #e2e8f0;
    font-size: 18px;
}

.nav-links a:hover {
    color: #22d3ee;
    opacity: 0.7;
}


/* Welcome Section Css */

.dashboard
{
    padding: 30px;
}

.welcome-section
{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e2e8f0;

}

.welcome h1
{
    font-size: 40px;
    margin-bottom: 15px;
}

.welcome p{
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}

.start
{
    background:#09576d;
    color: #0f2027;
    margin-top: 20px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.start:hover
{
    background: #ffffff;
    color: #203a43;
    transform: translateY(-3px);
}

/* statistic card css */

.stat {
 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.stat-card {
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: #e2e8f0;

    padding: 25px;
    border-radius: 20px;
    flex: 1;
    text-align: center;
    transition: 0.3 ease;

}

.stat-card:hover{
    transform: translateY(-8px);
}

/* Recent Projects Css */


.recent-projects {
    margin-top: 40px;
}


.recent-projects h2 {
    margin-bottom: 20px;
}


.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.project-card {

    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: #e2e8f0;
    padding: 25px;
    border-radius: 20px;
    flex: 1;
    min-width: 250px;
    transition: 0.3s ease;
}


.project-card:hover {

    transform: translateY(-8px);

}


.project-card h3 {

    margin-bottom: 15px;

}


.project-card p {

    line-height: 1.6;
    margin-bottom: 15px;

}


.project-card span {

    font-size: 14px;
    color: #8e9a9a;

}


/* Today Tasks Css */

.today-tasks
{
    margin-top: 40px;
    text-align: center;
}

.today-tasks h2 
{
    margin-bottom: 20px;
}

.tasks-container
{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.task-card
{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #e2e8f0;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3 ease;
    margin: 20px;

}


.task-card:hover {
    transform: translateX(8px);
}

.task-card h3{
    margin: 0;
}

.task-card p{
    margin: 0;
    color: #8e9a9a;
    font-size: 20px;
}

/* Tasks Page */

.tasks-page
{
    margin: 40px; 
    text-align: center;

}

.tasks-header h1
{
    
    margin: 15px;
    font-size: 36px;
}

.tasks-header p{
    
    margin-bottom: 30px;
    color: #cbd5e1;
}

.add-task
{
    display: flex;
    justify-content:center;
    gap: 15px;
    margin-bottom: 40px;
}
.add-task input 
{
   width: 300px;
   height: 40px;
   padding: 0 15px;
   border: none;
   border-radius: 20px;
   outline: none;
   font-size: 15px;
}

.add-task button
{
   height: 40px;
   padding: 0 25px;
   border: none;
   border-radius: 20px;
   background:#00c6ff;
   color: #0f172a;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3 ease;

}

.add-task button:hover
{
    background: white;
    transform: translate(-3px);
}

.task-actions button{
    padding: 8ox 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    width: 80px;
}

.task-actions button:first-child{
        background: #22c55e;
        color: white;
}

.task-actions button:last-child{
    background: #ef4444;
    color: white;
}


/*Projects page Css */

.projects-page
{
    padding: 40px;
    text-align: center;
}

.projects-header h1 {
    font-size: 36px;
    margin-bottom: 15px;
}

.projects-header p {
    color: #cbd5e1;
    margin-bottom: 30px;
}

.add-project {
    margin-bottom: 40px;
}

.add-project button{

    background: #00c6ff;
    color: #0f172a;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;

}

.add-project button:hover{
    background-color: white;
    transform: translateY(-3px);
}


.projects-list
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}


/*Roadmap  page Css*/

.roadmap-page {
    padding: 40px;
    text-align:center;
}

.roadmap-header h1{
    font-size: 36px;
    margin-bottom: 15px;
}

.roadmap-header p{
    color: #cbd5e1;
    margin-bottom:40px ;
}

.roadmap-section {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.roadmap-section h2{
    margin-bottom: 20px;
    color: #00c6ff;
}

.roadmap-list
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.roadmap-item {
    background: linear-gradient(135deg, #141e30, #243b55);
    color: #e2e8f0;
    padding: 20px 25px;
    margin-bottom: 8px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3 ease;
}

.roadmap-item:hover{
    transform: translateX(8px);
}

.completed{
    color: #22c55e;
}
.progress{
    color: #00c6ff;
}

.pending{
    color: #94a3b8;
}


/*Notes page CSS */

.notes-page
{
    padding: 40px;
    text-align: center;
}

.notes-header h1{
    font-size: 36px;
    margin-bottom: 15px;
}

.notes-header 
{
    color: #cbd5e1;
    margin-bottom: 40px;
}

.add-notes
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.add-notes input,
.add-notes textarea{
    padding: 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: 15px;

}

.add-notes textarea{
    min-height: 180px;
    resize: vertica;
}

.add-notes button{
    align-self: center;
    background: #00c6ff;
    color: #0f172a;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    view-transition-class: 0.3s ease;
}

.add-notes button:hover
{
    background:white;
    transform: translateY(-3px);
}

.notes-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    margin: auto;
}

.notes-card
{
   background: linear-gradient(135deg, #141e30, #243b55);
    color: #e2e8f0;
    padding: 25px;
    border-radius: 20px;
    text-align: left;
    transition: 0.3s ease;
}

.notes-card:hover{
    transform: translateY(-5px);
}

.notes-card h3
{
    margin-bottom: 10px;
}

.notes-card p
{
    margin-bottom: 15px;
    line-height: 1.6;
}

.notes-card span{
    color: #94a3b8;
    font-size: 14px;
}


