* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 /* Nav CSS */
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); 
}

.logo {

    font-size: 24px;
    font-weight: bold;
    color: #e2e8f0;
}

.nav-links
{
    display: flex;
    list-style: none;
    gap: 30px;
    
}
.nav-links a {

    text-decoration: none;
    color: #e2e8f0;
    font-size: 18px;
}

.nav-links a:hover {
    color: #22d3ee;
    opacity: 0.7;
}


/* Welcome Section Css */

.dashboard
{
    padding: 30px;
}

.welcome-section
{
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #e2e8f0;

}

.welcome h1
{
    font-size: 40px;
    margin-bottom: 15px;
}

.welcome p{
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}

.start
{
    background:#09576d;
    color: #0f2027;
    margin-top: 20px;
    height: 35px;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.start:hover
{
    background: #ffffff;
    color: #203a43;
    transform: translateY(-3px);
}

/* statistic card css */

.stat {
 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.stat-card {
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: #e2e8f0;

    padding: 25px;
    border-radius: 20px;
    flex: 1;
    text-align: center;
    transition: 0.3 ease;

}

.stat-card:hover{
    transform: translateY(-8px);
}
